<%- include('partials/header') -%>

   <div class="aboutUs">
   <div class="aboutUsSection">
   <h2>Who We Are</h2>
     <h5>An Anglican worshipping community striving to follow the way of Jesus by:</h5>
       <p style="padding-left: 30px;">Proclaiming the love of God in Jesus Christ, as Risen Lord;<br/>Offering hospitality, joy and hope;<br/>Practising the love of God and neighbour; <br/>Baptizing in the Name of the Father, Son and Holy Spirit; and<br/>Serving though the power of the Holy Spirt.</p>
     </div>
     <div class="aboutUsSection">
       <h2>So What Happens on a Sunday?</h2>
          <ul>
            <li>Coffe and Tea are available before the service</li>
            <li>Children are welcome in the service. There is a short children's teaching and prayer time early in the service, after this the children may attend Sunday School or remain in the service</li>
            <li>We sing, read scripture, listen to teaching, worship, bring our offerings and have communion, all using a modern liturgy</li>
            <li>Coffee and Tea and snacks are served after the service, sometimes a full lunch</li>
            <li>We do not have a fixed worship style; open your hands, raise them, sway side to side, kneel, it's all okay here.
              <ul>
                <li>If you bring a worship javelin, please inform an usher!</li>
              </ul>
            </li>
          </ul>
     </div>
       <h2>For A Laugh</h2>
     <div class="forALaughContainer">
       <iframe class="forALaugh" src="https://www.youtube.com/embed/TK2_ezOBa2A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
   </div>

<%- include('partials/footer') -%>
