<%- include('partials/header') -%>

    <!-- Banner Area -->
    <div id="homeTop" class="homeTop">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="6000">
                  <h2>For God So Loved The World</h2>
                  <p>For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal life. John 3:16 ESV</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>You Must Be Born Again</h2>
                  <p>Jesus answered, “Truly, truly, I say to you, unless one is born of water and the Spirit, he cannot enter the kingdom of God. &nbsp;John 3:5,6 ESV</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>We Have All Sinned</h2>
                  <p>None is righteous, no, not one. Romans 3:10 ESV<br /> For all have sinned and fall short of the glory of God. Romans 3:23</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>We Deserve Death</h2>
                  <p>For the wages of sin is death, but the gift of God is eternal life in Christ Jesus our Lord. Romans 6:23 CSB</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>God Met Us In Our Sin</h2>
                  <p>But God demonstrates His own love toward us, in that while we were still sinners, Christ died for us. Romans 5:8 NKJV</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>How Am I Saved?</h2>
                  <p>...that if you confess with your mouth the Lord Jesus and believe in your heart that God has raised Him from the dead, you will be saved. Romans 10:9 NKJV</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>&nbsp;</h2>
                  <p>For it is with your heart that you believe and are justified, and it is with your mouth that you profess your faith and are saved. Romans 10:10 NIV</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>God Hears And Accepts Us</h2>
                  <p>For everyone who calls on the name of the Lord will be saved. Romans 10:13 NIV</p>
                </div>
                <div class="carousel-item" data-interval="6000">
                  <h2>The Harvest Is Here</h2>
                  <p>Don’t you have a saying, ‘It’s still four months until harvest’? I tell you, open your eyes and look at the fields! They are ripe for harvest.&nbsp;&nbsp; John 4:35 NIV</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 topLinks">
            <div class="missionMinute linkBox">
              <a href="https://calgary.anglican.ca/newsletters/101/display" target="_blank">
                <img class="missMinImg" alt="Anglican Dioceses of Calgary logo" src="images/home/DoC-Logo-92x92.png">
                <h3>Diocesan Newsletter</h3>
              </a>
            </div>
            <div class="content-box linkBox">
              <a href="sermons">
                <img class="homeLinkImage" alt="Headphones sitting on a bible on a desk" src="images/home/sermons2.png">
                <h3>Sermons</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Banner Area -->

    <!-- Middle Section -->
    <div class="linkBoxSection">
      <div class="row">
        <div class="col-lg-3 col-md-6 middle1">
          <div class="content-box-flip linkBox">
            <a href="prayer">
              <h3>Prayer</h3>
              <img class="homeLinkImage" alt="Hands raised up with the sun making a cross in the palms" src="images/home/prayer.jpg">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 middle2">
          <div class="content-box-flip linkBox">
          <a href="lectionary">
            <h3>Lectionary</h3>
              <img class="homeLinkImage" alt="Green Trees, Grass and Sun Poking through" src="images/Lectionary/ordinary-time-copy.jpg">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 middle3">
          <div class="content-box-flip linkBox">
            <h3>Churches</h3>
            <a href="local-churches">
              <img class="homeLinkImage" alt="A map image of Okotoks" src="images/home/map.png">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 middle4">
          <div class="content-box-flip linkBox">
            <a href="contact">
              <h3>Contact</h3>
              <img class="homeLinkImage" src="images/People/norbert_preaching.png" alt="A picture of Norbert, our rector">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>

<%- include('partials/footer') -%>
