<%- include('partials/header') -%>

<div class="container">
  <!-- Map Area -->
  <div class="churchMapHeaderArea">
    <h3>Find a local church in Okotoks</h3>
    <p>Click on one of the map markers for more information.</p>
  </div>
  <div class="churchMapContainer">
      <iframe class="churchMap" src="https://www.google.com/maps/d/embed?mid=1EHx1nl13uXnnuv-ygJM3FNcAxCRSoPtZ" ></iframe>
  </div>

  <!-- Address Area -->

</div>

<%- include('partials/footer') -%>
