<%- include('partials/header') -%>

<div class="container">
  <!-- Map Area -->
  <div class="churchMapHeaderArea">
    <h3>Find a local church in Okotoks</h3>
    <p>Click on one of the map markers for more information.</p>
  </div>
  <div>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-09b7a4a3-877c-42f9-aaa6-643c9d62e08f"></div>
  </div>

  <!-- Address Area -->

</div>

<%- include('partials/footer') -%>
