<%- include('partials/header') -%>

<!-- Calendar Area -->
<div class="churchCalendarArea">
  <div class="churchCalendarContainer">
    <div id="elvanto-events-3178"></div>
    </div>
</div>

<%- include('partials/footer') -%>

<script src="https://stp.elvanto.eu/calendar_embed.js?c[]=16405766-4879-416e-8fc0-e91f0053096d&c[]=08de072a-fa63-11e2-9ed5-188c76acf9db&c[]=60d06abe-0d9a-46df-b442-bac06d918507&ca[]=services&events=1&upcoming[count]=1&upcoming[timeframe]=m&max=100&el_id=3178"></script>
