<%- include('partials/header') -%>

<div class='container'>
  <div class="privacy">
    <h1>Privacy</h1>
    <p>We collect personal information from our members and donors in the regular course of being the church. We are committed to collecting only the information we need to minister to our town. We also commit to secure the information we keep. This page answers some of your most frequently asked questions, and lets you know exactly how we're protecting the information you entrust to us.</p>
    <div class="whatInfo">
      <h3>What personal information do you collect about me?</h3>

    </div>
  </div>
  </div>


<%- include('partials/footer') -%>
