<%- include('partials/header') -%>

  <!-- Begin the Sermon Cards -->
  <div class="sermons">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
      <div class="col mb-4">
        <div class="card" data-toggle="modal" data-target="#prayerHowWhatWhy">
          <div class="card-body">
            <h4 class="card-title sermonTitle">Prayer: How, What, Why?</h4>
            <div style="background-image: url('images/sermons/nov22,2020.jpg');" alt="man raising his hands in prayer" class="cardImageContainer">
            </div>
            <h6 class="speakerHeader">Participants</h6>
            <p class="card-text participantList">
            Haydn Schofield<br />Dave Baker<br />Gina Cook
            </p>
          </div>
          <div class="card-footer messageDate">
            <small class="text-muted"><strong>Coming: </strong>November 22, 2020</small>
          </div>
        </div>
        <div class="modal fade-in sermonModalPopup" id="prayerHowWhatWhy" tabindex="-1" aria-labelledby="prayerHowWhatWhy" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div id="" class="modal-body vimeoModalContainer">
                <button type="button" class="close sermonClose" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <iframe id="sermonPlayer" class="vimeoEmbed" src="https://player.vimeo.com/video/481359922" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="1"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" data-toggle="modal" data-target="#exploreNewRoads">
          <div class="card-body">
            <h4 class="card-title sermonTitle">Explore New Roads</h4>
            <div style="background-image: url('images/sermons/nov15,2020.jpg');" alt="a trail through the forest" class="cardImageContainer">
            </div>
            <h6 class="speakerHeader">Participants</h6>
            <p class="card-text participantList">
            Harydn Schofield<br />Dave Baker<br />Gina Cook
            </p>
          </div>
          <div class="card-footer messageDate">
            <small class="text-muted"><strong>Message Date: </strong>November 15, 2020</small>
          </div>
        </div>
        <div class="modal fade-in sermonModalPopup" id="exploreNewRoads" tabindex="-1" aria-labelledby="exploreNewRoads" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div id="" class="modal-body vimeoModalContainer">
                <button type="button" class="close sermonClose" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <iframe id="sermonPlayer" class="vimeoEmbed" src="https://player.vimeo.com/video/479291285" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="1"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" data-toggle="modal" data-target="#storiesImTold">
          <div class="card-body">
            <h4 class="card-title sermonTitle">Stories I'm Told</h4>
            <div style="background-image: url('images/sermons/nov8,2020.jpg');" alt="two poppys against a grey sky" class="cardImageContainer">
            </div>
            <h6 class="speakerHeader">Participants</h6>
            <p class="card-text participantList">
            Norbert Haukenfrers<br />Gina Cook<br />Andy Read
            </p>
          </div>
          <div class="card-footer messageDate">
            <small class="text-muted"><strong>Message Date: </strong>November 8, 2020</small>
          </div>
        </div>
        <div class="modal fade-in sermonModalPopup" id="storiesImTold" tabindex="-1" aria-labelledby="storiesImTold" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div id="" class="modal-body vimeoModalContainer">
                <button type="button" class="close sermonClose" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <iframe id="sermonPlayer" class="vimeoEmbed" src="https://player.vimeo.com/video/476530454" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="1"></iframe>
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="col mb-4">
        <div class="card" data-toggle="modal" data-target="#allSaints">
          <div class="card-body">
            <h4 class="card-title sermonTitle">All Saints</h4>
            <div style="background-image: url('images/sermons/nov1,2020.jpg');" alt="a bible on a stand in a church" class="cardImageContainer">
            </div>
            <h6 class="speakerHeader">Participants</h6>
            <p class="card-text participantList">
            Norbert Haukenfrers<br />Gina Cook<br />Dave Baker
            </p>
          </div>
          <div class="card-footer messageDate">
            <small class="text-muted"><strong>Message Date: </strong>November 1, 2020</small>
          </div>
        </div>
        <div class="modal fade-in sermonModalPopup" id="allSaints" tabindex="-1" aria-labelledby="allSaints" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div id="" class="modal-body vimeoModalContainer">
                <button type="button" class="close sermonClose" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <iframe id="sermonPlayer" class="vimeoEmbed" src="https://player.vimeo.com/video/474213685" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="1"></iframe>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" data-toggle="modal" data-target="#aPlaceToLove">
        <div class="card-body">
          <h4 class="card-title sermonTitle">A Place To Love</h4>
          <div style="background-image: url('images/sermons/oct25,2020.jpg');" alt="a pentecost image of the disciples" class="cardImageContainer">
          </div>
          <h6 class="speakerHeader">Participants</h6>
          <p class="card-text participantList">
          Norbert Haukenfrers<br />Gina Cook<br />Dave Baker
          </p>
        </div>
        <div class="card-footer messageDate">
          <small class="text-muted"><strong>Message Date: </strong>October 25, 2020</small>
        </div>
      </div>
      <div class="modal fade-in sermonModalPopup" id="aPlaceToLove" tabindex="-1" aria-labelledby="aPlaceToLove" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div id="" class="modal-body vimeoModalContainer">
              <button type="button" class="close sermonClose" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <iframe id="sermonPlayer" class="vimeoEmbed" src="https://player.vimeo.com/video/471833960" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="1"></iframe>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card" data-toggle="modal" data-target="#mayWeBeholdHisGlory">
      <div class="card-body">
        <h4 class="card-title sermonTitle">May We Behold His Glory</h4>
        <div style="background-image: url('images/sermons/oct18,2020.png');" alt="a pentecost image of the disciples" class="cardImageContainer">
        </div>
        <h6 class="speakerHeader">Participants</h6>
        <p class="card-text participantList">
        Norbert Haukenfrers<br />Gina Cook<br />Dave Baker
        </p>
      </div>
      <div class="card-footer messageDate">
        <small class="text-muted"><strong>Message Date: </strong>October 18, 2020</small>
      </div>
    </div>
    <div class="modal fade-in sermonModalPopup" id="mayWeBeholdHisGlory" tabindex="-1" aria-labelledby="mayWeBeholdHisGlory" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div id="" class="modal-body vimeoModalContainer">
            <button type="button" class="close sermonClose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <iframe id="sermonPlayer" class="vimeoEmbed" src="https://player.vimeo.com/video/469306141" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="1"></iframe>
          </div>
        </div>
      </div>
  </div>
</div>
  </div>
</div>

<%- include('partials/footer') -%>
